  :root {
    --cor-fundo: #000000;
    --cor-principal: #0b201b ;
    --cor-secundaria: #332121;
    --cor-destaque: #fd2bf2;
    --cor-texto: #d7efff;
  }
    
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
  }

  h1{
    color: var(--cor-destaque);
   }
   